<html>
<head>
	<title>The Paper Drumkit</title>
	<link type="text/css" rel="stylesheet" href="../static/styles/styles.css"/>
</head>
<body>
	<div class="container">
		<div class="header">
			<img class="header__logo" src="../static/images/img_headphones.png"/>
			<h1 class="header__title">Paper Drumkit</h1>
			<h3 class="header__subtitle">March to your own beat</h3>

			<a href="/start">
				<img class="header__start" src="../static/images/icon_start.png"/>
			</a>
		</div>

		<div class="buttons">
			<div class="buttons__button">
				<h2>A</h2>
				<button class="buttons__button__action buttons__button__action--small">
					<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_delete.png"/>
				</button>
				<a href="/upload/a">
					<button class="buttons__button__action">
						<img class="buttons__button__action__icon" src="../static/images/icon_audio.png"/>
					</button>
				</a>
				<a href="/preview/a">
					<button class="buttons__button__action buttons__button__action--small">
						<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_play.png"/>
					</button>
				</a>
			</div>
			<div class="buttons__button">
				<h2>B</h2>
				<button class="buttons__button__action buttons__button__action--small">
					<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_delete.png"/>
				</button>
				<a href="/upload/b">
					<button class="buttons__button__action">
						<img class="buttons__button__action__icon" src="../static/images/icon_audio.png"/>
					</button>
				</a>
				<a href="/preview/b">
					<button class="buttons__button__action buttons__button__action--small">
						<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_play.png"/>
					</button>
				</a>
			</div>
			<div class="buttons__button">
				<h2>C</h2>
				<button class="buttons__button__action buttons__button__action--small">
					<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_delete.png"/>
				</button>
				<a href="/upload/c">
					<button class="buttons__button__action">
						<img class="buttons__button__action__icon" src="../static/images/icon_audio.png"/>
					</button>
				</a>
				<a href="/preview/c">
					<button class="buttons__button__action buttons__button__action--small">
						<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_play.png"/>
					</button>
				</a>
			</div>

			<div class="buttons__button">
				<h2>D</h2>
				<button class="buttons__button__action buttons__button__action--small">
					<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_delete.png"/>
				</button>
				<a href="/upload/d">
					<button class="buttons__button__action">
						<img class="buttons__button__action__icon" src="../static/images/icon_audio.png"/>
					</button>
				</a>
				<a href="/preview/d">
					<button class="buttons__button__action buttons__button__action--small">
						<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_play.png"/>
					</button>
				</a>
			</div>
			<div class="buttons__button">
				<h2>E</h2>
				<button class="buttons__button__action buttons__button__action--small">
					<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_delete.png"/>
				</button>
				<a href="/upload/e">
					<button class="buttons__button__action">
						<img class="buttons__button__action__icon" src="../static/images/icon_audio.png"/>
					</button>
				</a>
				<a href="/preview/e">
					<button class="buttons__button__action buttons__button__action--small">
						<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_play.png"/>
					</button>
				</a>
			</div>
			<div class="buttons__button">
				<h2>F</h2>
				<button class="buttons__button__action buttons__button__action--small">
					<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_delete.png"/>
				</button>
				<a href="/upload/f">
					<button class="buttons__button__action">
						<img class="buttons__button__action__icon" src="../static/images/icon_audio.png"/>
					</button>
				</a>
				<a href="/preview/f">
					<button class="buttons__button__action buttons__button__action--small">
						<img class="buttons__button__action__icon buttons__button__action__icon--small" src="../static/images/icon_play.png"/>
					</button>
				</a>
			</div>
		</div>
	</div>
</body>
</html>